@using Core.Enums

<div id="@id">
    <div class="row">
        <div class="col">
            <div class="d-flex align-items-center mt-1 mb-1">
                <img class="icon-l mr-2" src="@getDwarfIconPath()" />
                <h3 class="d-inline-block">@type.ToString().ToUpper()</h3>
            </div>
        </div>
        <div class="col-auto d-flex align-items-center">
            @for (var promotion = 0; promotion < getDwarfPromotionsInTier(); promotion++)
            {
                <div class="m-1 promotion-star promotion-@dwarf.Promotion.ToString().ToLower()"
                title="@getDwarfPromotionsTooltip()">
                    ★
                </div>
            }
        </div>
    </div>
    <div class="data-container mb-2">
        <div class="row">
            <div class="col">
                <div class="d-flex align-items-center mb-1">
                    <img class="icon-m mr-2" src="icons/drg_icons/class_level_icon.png" />
                    <span>@dwarf.Level</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="d-flex align-items-center mb-1">
                    <img class="icon-m mr-2" src="icons/drg_icons/xp_icon.png" />
                    <span>@dwarf.Experience</span>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string id { get; set; }
    [Parameter]
    public Core.Dwarves.Dwarf? dwarf { get; set; }
    [Parameter]
    public DwarfType? type { get; set; }

    public string getDwarfIconPath()
    {
        string lowercase = type.ToString().ToLower();

        return $"icons/drg_icons/{lowercase}_icon.png";
    }

    public int getDwarfPromotionsInTier()
    {
        if (dwarf.Promotions == 0)
        {
            return 0;
        }

        return ((dwarf.Promotions - 1) % 3) + 1;
    }

    public string getDwarfPromotionsTooltip()
    {
        return $"{dwarf.Promotion.ToString()} tier, {dwarf.Promotions} promotion{(dwarf.Promotions == 1 ? "" : "s")}";
    }
}
