@using Core.SaveFiles.Models
@using GUI.Data
@using Core.Enums
@using System.Reactive.Linq
@using GUI.Data.Enums

@if (saveFile != null)
{
    <ImageHeaderBar imagePath="@GetImagePath()"
        containerClasses="mb-3"
        text="@($"{SyncerManager.GetSaveFilePlatform(saveFile).ToString()} Save File")"
        textClasses="h2"
        barHeight="32px"
        reverse="@(orientation == Orientation.Right)" />
    <div class="@(orientation == Orientation.Left ? "ml-5" : "ml-3") @(orientation == Orientation.Right ? "mr-5" : "mr-3") pl-1 pr-1 position-relative save-file-container @(ReferenceEquals(saveFile, Overwriter) ? "active" : "")"
        @onmouseover="@(e => highlight = true)"
        @onmouseout="@(e => highlight = false)">
        <div class="top-left @(highlight ? "highlight" : "") @(ReferenceEquals(saveFile, Overwriter) ? "active" : "")"></div>
        <div class="top-right @(highlight ? "highlight" : "") @(ReferenceEquals(saveFile, Overwriter) ? "active" : "")"></div>
        <div class="bottom-left @(highlight ? "highlight" : "") @(ReferenceEquals(saveFile, Overwriter) ? "active" : "")"></div>
        <div class="bottom-right @(highlight ? "highlight" : "") @(ReferenceEquals(saveFile, Overwriter) ? "active" : "")"></div>
        <div class="row pb-2">
            <div class="col">
                <Dwarf id="@($"{SyncerManager.GetSaveFilePlatform(saveFile).ToString().ToLower()}-dwarf-engineer")" dwarf="@saveFile.Engineer" type="DwarfType.Engineer"/>
                <Dwarf id="@($"{SyncerManager.GetSaveFilePlatform(saveFile).ToString().ToLower()}-dwarf-scout")" dwarf="@saveFile.Scout" type="DwarfType.Scout"/>
                <Dwarf id="@($"{SyncerManager.GetSaveFilePlatform(saveFile).ToString().ToLower()}-dwarf-driller")" dwarf="@saveFile.Driller" type="DwarfType.Driller" />
                <Dwarf id="@($"{SyncerManager.GetSaveFilePlatform(saveFile).ToString().ToLower()}-dwarf-gunner")" dwarf="@saveFile.Gunner" type="DwarfType.Gunner" />
            </div>
        </div>
        <div class="row pb-2">
            <div class="col">
                <SaveFileMetadata id="@($"{SyncerManager.GetSaveFilePlatform(saveFile).ToString().ToLower()}-meta")" saveFile="@saveFile" />
            </div>
        </div>
    </div>
}
else
{
    <div class="pl-1 pr-1 missing-save-file-container d-flex flex-column justify-content-center align-items-center "
        @onmouseover="@(e => highlight = true)"
        @onmouseout="@(e => highlight = false)">
        <div class="missing-save-file-content-container position-relative">
            <img class="missing-save-file position-absolute" src="icons/drg_icons/warning_elite_threat_icon.png" />
            <div class="missing-save-file-background position-absolute"></div>
        </div>
        <h3 class="missing-save-file-header mb-1">Unable to find save file</h3>
        <span class="missing-save-file-text">Make sure both games are installed and have been booted up at least once, then restart this app.</span>
    </div>
}
@code {
    [Inject]
    public SyncerManagerService SyncerManager { get; set; } = default!;

    [Parameter]
    public Core.SaveFiles.Models.SaveFile? saveFile { get; set; }
    [Parameter]
    public Orientation orientation { get; set; } = Orientation.Left;

    private bool highlight = false;
    private Core.SaveFiles.Models.SaveFile? Overwriter;

    protected override void OnInitialized()
    {
        Overwriter = SyncerManager.Overwriter;
        SyncerManager.OverwriterChanged.DistinctUntilChanged()
            .Select(saveFile => Overwriter = saveFile)
            .Subscribe();
    }

    private string GetImagePath()
    {
        var platformName = SyncerManager.GetSaveFilePlatform(saveFile).ToString().ToLower();

        return $"icons/{platformName}_icon.png";
    }
}
